h1 {
    text-align: center;
    color: slategray;
  }
  
  h2 {
    text-align: center;
    color: lightskyblue;
  }
  
  p {
    text-align: justify;
    margin: 10px;
    color: black;
  }

  img {

      margin-left: 45%;
  }
  

  body {
    background-image: url(https://images.unsplash.com/photo-1553474157-5f29a57c167f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3400&q=80);
  }